* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: whitesmoke;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

form {
    background: lightcoral;
    width: 350px;
    margin: auto;
    padding: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid gray;
}

button {
    width: 100%;
    padding: 8px;
    background: blue;
    color: white;
    border: none;
}

p {
    text-align: center;
    color: green;
}

table {
    width: 100%;
    margin-top: 20px;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid gray;
}

th {
    background: navy;
}

a {
    color: blue;
    margin-right: 4px;
}
